@font-face {
  font-family: 'garnett-light'; 
  src: url('./assets/Garnett-Light.ttf') format('truetype');
}
.App {
  width:80%;
  margin:auto;
  height:50vh;
  margin-top: 140px;
  font-family:'garnett-light',sans-serif;
}

